{% extends 'base/main.html' %}
{% block content %}
    <div class="container">
        <h5><a class="link-success" href="{% url 'home' %}">Back</a></h5><br>
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>Posted by: <i>{{ post.author }}</i></p>
            <hr>
            <p class="blockquote">{{ post.content }}</p>
            {% if post.image %}
                <div class="imgDiv">
                    <img class="imgPost" src="{{ MEDIA_URL }}{{ post.image.url }}" alt="No image uploaded">
                </div>
            {% endif %}
            <hr>
            <p class="text-muted text-end">Posted on: {{ post.date_created }}</p>
            <p class="text-muted text-end">Last modified: {{ post.date_modified }}</p>
            {% if request.user == post.author %}
                <div class="buttons">
                    <div class="btnL">
                        <form action="{% url 'editPost' post.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary" type="submit">Edit post</button>
                        </form>
                    </div>
                    <div class="btnR">
                        <form action="{% url 'deletePost' post.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Delete post</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr>
        <br>
        <h5>Comments</h5><br>

        {% for comment in comments %}
            <div class="comments">
                <p>Posted by: {{ comment.posted_by }}</p>
                <hr>
                <p>{{ comment.comment }}</p>
                <p class="text-muted text-end">{{ comment.comment_date }}</p>
                {% if request.user == comment.posted_by %}
                    <div class="btnRR">
                        <form action="{% url 'deleteComment' post.id comment.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Delete comment</button>
                        </form>
                    </div>
                {% endif %}


            </div>
        {% endfor %}
        <br>

        <button class="btn btn-outline-success" onclick="formBlock()">Add new comment</button>
        <br><br>
        <form id="f12" style="display:none;" action="{% url 'detail' post.id %}" method="POST"
              enctype="multipart/form-data">
            <br>
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">Submit</button>

        </form>
    </div>


{% endblock %}