{% extends 'base/main.html' %}
{% block content %}
    <div class="container">
        <h5><a class="link-success" href="{% url 'home' %}">Back</a></h5><br>
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>Posted by: {{ post.author }}</p>
            <hr>
            <p class="blockquote">{{ post.content }}</p>
            <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="" alt="No image uploaded">
            <hr>
            <p class="text-muted text-end">Posted on: {{ post.date_created }}</p>
            <p class="text-muted text-end">Last modified: {{ post.date_modified }}</p>
            <form action="{% url 'deletePost' post.id %}" method="POST">
                {% csrf_token %}
                <div class="btnB">
                    <button class="btn btn-outline-danger" type="submit">Delete post</button>
                </div>
            </form>
        </div>
        <hr>
        <br>
        <h5>Comments</h5><br>

        {% for comment in comments %}
            <div class="comments">
                <p>Posted by: {{ comment.posted_by }}</p>
                <hr>
                <p>{{ comment.comment }}</p>
                <p class="text-muted text-end">{{ comment.comment_date }}</p>

                <form action="{% url 'deleteComment' post.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <div class="btnB">
                        <button class="btn btn-outline-danger" type="submit">Delete comment</button>
                    </div>
                </form>
            </div>
        {% endfor %}
        <br>

        <button class="btn btn-outline-success" onclick="formBlock()">Add new comment</button>
        <br><br>
        <form id="f12" style="display:none;" action="{% url 'detail' post.id %}" method="POST"
              enctype="multipart/form-data">
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Submit</button>

        </form>
    </div>

    <script>
        function formBlock() {
            if (document.getElementById('f12').style.display == 'none') {
                document.getElementById('f12').style.display = 'block'
                window.scrollTo(0, document.body.scrollHeight);
            } else document.getElementById('f12').style.display = 'none'
        }
    </script>
    <style>
    .btnB{
            text-align: right;
    }
    </style>

{% endblock %}