
.post {
    background: ghostwhite;
}

.comments {
    background: #eeffee;
}


.form-control {
    width: auto;
}

.comments {
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 5px;
    background: #eeffee;
}

.post {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background: ghostwhite;
}

#f1 {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#f12 {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.imgPost {
    width: 100%;
    max-width: 400px;
    border: 3px solid lightgray;
    border-radius: 10px;
}

.imgDiv {
    text-align: center;

}
.btnRR{
    text-align: right;
}