<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand border-end pe-2" href="{% url 'home' %}" style="margin-left: 30px;">Blog Posts</a>
    <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'add' %}">Add new post</a>
            </li>
        </ul>
    </div>
</nav>